/* ==========================================================================
   Header
   ========================================================================== */

.site-header {
	position: fixed;
	z-index: 200;
	right: 0; 
}

.site-description {
}

.site-title {
}
